---
layout: default
---

<h1>
  <a href="https://meltano.com" target="_blank">Meltano</a>
</h1>
<p>
  If you're already using
  <a href="https://meltano.com" target="_blank">Meltano</a>, learn more about
  the
  <a href="https://docs.meltano.com/plugins.html" target="_blank">plugins</a>
  it supports out of the box:
</p>

<ul class="button-grid two-columns">
  <li>
    <a href="/extractors">
      <strong
        >Extractors <small>{{site.data.meltano.extractors.size}}</small></strong
      >

      <p>
        View all SaaS API, database, and file sources Meltano can pull data from
      </p>
    </a>
  </li>
  <li>
    <a href="/loaders">
      <strong>Loaders <small>{{site.data.meltano.loaders.size}}</small></strong>

      <p>
        View all database, file, and SaaS API destinations Meltano can send data
        to
      </p>
    </a>
  </li>
  <li>
    <a href="/transformers/dbt">
      <strong>Transformer dbt</strong>

      <p>Learn how to transform your loaded data using Meltano and dbt</p>
    </a>
  </li>
  <li>
    <a href="https://docs.meltano.com/guide/orchestration" target="_blank">
      <strong>Orchestrator Airflow</strong>

      <p>
        Learn how to orchestrate scheduled pipelines using Meltano and Airflow
      </p>
    </a>
  </li>
  <!-- <li>
        <a href="https://docs.meltano.com/plugins.html#utilities">
          <strong>Utilities SQLFluff</strong>

          <p>Learn how to lint your SQL transformations using Meltano and SQLFluff</p>
        </a>
      </li> -->
</ul>

<h1>
  <a href="/singer">Singer Ecosystem</a>
</h1>
<p>
  If you're here to learn more about the
  <a href="/singer">Singer ecosystem</a>, check out one of these resources:
</p>

<ul class="button-grid two-columns">
  <li>
    <a href="/singer/taps">
      <strong>Singer Taps <small>{{site.data.taps.size}}</small></strong>

      <p>Find a Singer tap to pull data from a SaaS API, database, or file</p>
    </a>
  </li>
  <li>
    <a href="/singer/targets">
      <strong>Singer Targets <small>{{site.data.targets.size}}</small></strong>

      <p>Find a Singer target to send data to a database, file, or SaaS API</p>
    </a>
  </li>
  <li>
    <a href="https://sdk.meltano.com" target="_blank">
      <strong>SDK for Taps &amp; Targets</strong>

      <p>
        Learn more about building Singer taps and targets for new sources and
        destinations
      </p>
    </a>
  </li>
  <li>
    <a href="/singer/spec">
      <strong>Singer Spec</strong>

      <p>
        Learn more about the Singer specification for open source data
        connectors
      </p>
    </a>
  </li>
  <li>
    <a href="/singer#api-resources">
      <strong>API Directory</strong>
      <p>
        Learn more about the API resources available for the entire Singer
        community
      </p>
    </a>
  </li>
  <li>
    <a href="/singer/docs">
      <strong>Documentation</strong>
      <p>
        Learn more about the details and architecture of MeltanoHub for Singer
      </p>
    </a>
  </li>
</ul>
