---
layout: plugin_page
---

{% assign plugin = page.plugin %} {% assign variant = page.variant %} {% assign language = variant.language | default: "python" %}
{% assign repo_split = variant.repo | split: '/' %} {% assign repo_project = repo_split[-1] %}
{% assign has_hidden_variant = false %}
{% for alt_variant in plugin.variants %} {% if alt_variant != variant and alt_variant.hidden%} {% assign has_hidden_variant = true %} {% endif %}{% endfor %}
{% if variant.metrics %} {% assign metrics = variant.metrics %}{% endif %}
<p>
  {% if plugin.type == "tap" %} The <code>{{plugin.singer_name}}</code>
  <a href="/singer/taps">Singer tap</a>
  pulls data from 
  {% if plugin.entity_url %}
    <a href="{{plugin.entity_url}}" target="_blank">{{plugin.label}}</a>
  {% else %}
    the {{ plugin.label }} {{ plugin.entity_type }}
  {% endif %}
  that can then be sent to a destination using a
  <a href="/singer/targets">Singer target</a>. {% else %} The
  <code>{{plugin.singer_name}}</code>
  <a href="/singer/targets">Singer target</a>
  sends data into
  {% if plugin.entity_url %}
    <a href="{{plugin.entity_url}}" target="_blank">{{plugin.label}}</a>
  {% else %}
    the {{ plugin.label }} {{ plugin.entity_type }}
  {% endif %}
  after it was pulled from a source using a
  <a href="/singer/taps">Singer tap</a>. {% endif %}
</p>

<ul>
  {% if variant.maintenance_status == "unknown" %} {% assign maintenance_status_label = "Unknown" %} {% assign maintenance_status_color = "lightgrey" %} {% endif %}
  {% if variant.maintenance_status == "development" %} {% assign maintenance_status_label = "Development (Under Construction)" %} {% assign maintenance_status_color = "orange" %} {% endif %}
  {% if variant.maintenance_status == "beta" %} {% assign maintenance_status_label = "Prerelease (Beta)" %} {% assign maintenance_status_color = "yellow" %} {% endif %}
  {% if variant.maintenance_status == "active" %} {% assign maintenance_status_label = "Active (Stable)" %} {% assign maintenance_status_color = "brightgreen" %} {% endif %}
  {% if variant.maintenance_status == "inactive" %} {% assign maintenance_status_label = "Inactive or Stale" %} {% assign maintenance_status_color = "red" %} {% endif %}
  <li>
    <img   
      alt="Maintenance Status"
      src="https://img.shields.io/badge/Maintenance%20Status-{{ maintenance_status_label | replace: " ", "%20" }}-{{ maintenance_status_color }}">
  </li>

  <li>
    <strong>Repository</strong>:
    <a href="{{variant.repo}}" target="_blank">{{ variant.repo }}</a>
  </li>

  <ul>
    {% if variant.repo contains 'github' %}
    <li>
      <img
        alt="GitHub - Stars"
        src="https://img.shields.io/github/stars/{{variant.name}}/{{repo_project}}?style=flat-square&label=Stars">
    </li>
    <li>
      <img
        alt="GitHub - Forks"
        src="https://img.shields.io/github/forks/{{variant.name}}/{{repo_project}}?style=flat-square&label=Forks">
    </li>
    <li>
      <img
        alt="GitHub - Open Issues"
        src="https://img.shields.io/github/issues-raw/{{variant.name}}/{{repo_project}}?label=Open%20Issues">
    </li>
    <li>
      <img
        alt="GitHub - Open PRs"
        src="https://img.shields.io/github/issues-pr-raw/{{variant.name}}/{{repo_project}}?label=Open%20Pull%20Requests">
    </li>
    <li>
      <img
        alt="GitHub - Contributors"
        src="https://img.shields.io/github/contributors/{{variant.name}}/{{repo_project}}?label=Contributors">
    </li>
    <li>
      <img alt="GitHub - License"
        src="https://img.shields.io/github/license/{{variant.name}}/{{repo_project}}?color=c0c0c4&label=License&style=flat-square"
        href="{{variant.repo}}">
    </li>

    {% endif %}
    {% if metrics or metrics.LAST_UPDATED_TIMESTAMP > 0 %}
      <li>
        <img
          alt="Last Updated At"
          src="https://img.shields.io/badge/Last%20Updated%20At-{{ metrics.LAST_UPDATED_TIMESTAMP | date_to_string }}-c0c0c4">
      </li>
    {% endif %}
    </ul>
  <li>
    {% assign maintainer = variant.maintainer %}
    <a href="/singer/maintainers"><strong>Maintainer</strong></a
    >: {% if maintainer.url %}
    <a href="{{maintainer.url}}" target="_blank">{{ maintainer.label }}</a>
    {% else %} {{ maintainer.label }} {% endif %}
  </li>
  {% if metrics.MELTANO_EXEC_COUNT_3M > 0 or metrics.MELTANO_PROJECT_ID_COUNT_3M > 0 %}
  <li><a href="/singer/docs#meltano-usage-metrics"><strong>Meltano Stats:</strong></a></li>
  <ul>
    {% if metrics.MELTANO_EXEC_COUNT_3M > 0 %}
    <li>
      <img   
        alt="Executions (Last 3 Months)"
        src="https://img.shields.io/badge/Executions%20(Last%203%20Months)-{{ metrics.MELTANO_EXEC_COUNT_3M }}-c0c0c4">
    </li>
    {% endif %}
    {% if metrics.MELTANO_PROJECT_ID_COUNT_3M > 0 %}
    <li>
      <img   
        alt="Projects (Last 3 Months)"
        src="https://img.shields.io/badge/Projects%20(Last%203%20Months)-{{ metrics.MELTANO_PROJECT_ID_COUNT_3M }}-c0c0c4">
    </li>
    {% endif %}
  </ul>
  {% endif %}

  {% if variant.meltano_sdk %}
  <li><strong>Built with <a href="https://sdk.meltano.com/en/latest/" target="_blank">Meltano SDK</a></strong>: &#10004;</li>
  {% endif %}

  {% if variant.pip_url contains '.git' %}
  {% else %}
  <li>
      <img   
        alt="PyPI - Downloads"
        src="https://img.shields.io/pypi/dm/{{repo_project}}?color=3438BF&label=PyPI%20downloads&style=flat-square"
        href="https://pypi.org/project/{{repo_project}}/">
  </li>
  <li>
    <img   
      alt="PyPI - Version"
      src="https://img.shields.io/pypi/v/{{repo_project}}?color=3438BF&label=PyPI%20package&style=flat-square"
      href="https://pypi.org/project/{{repo_project}}/">
  </li>
  {% endif %}

</ul>

{% if has_hidden_variant == true and plugin.variants.size == 2 %}

{% elsif plugin.variants.size > 1 %}

<h2 id="variants">Alternative variants</h2>

<p>
  Multiple
  <a href="https://docs.meltano.com/plugins.html#variants" target="_blank"
    >variants</a
  >
  of <code>{{plugin.singer_name}}</code> are available. {% if
  page.variant_specific %} This document describes the
  <code>{{variant.name}}</code> variant. {% else %} This document describes the
  default <code>{{variant.name}}</code> variant, which is recommended for new
  users. {% endif %}
</p>

<p>Alternative variants are:</p>

<ul>
  {% for alt_variant in plugin.variants %} {% if alt_variant != variant and variant.hidden != true %}
  <li>
    <a href="{{ alt_variant.url | prepend: site.baseurl | prepend: site.url }}">
      <code>{{alt_variant.name}}</code>
    </a>
    {% if alt_variant.default %}(default){%endif%}
  </li>
  {% endif %} {% endfor %}
</ul>

{% endif %}

{% if language != "python" %}
    <h2 id="incompatible">Incompatible Language</h2>

    <p> 
        This {{plugin.type}} is written in a language other than Python and is not compatible with Meltano.
    </p>

{% else %}
    <h2 id="standalone-usage">Standalone usage</h2>

    <p>
    Install the package using
    <a href="https://pip.pypa.io/" target="_blank">pip</a>:
    </p>

    <pre><code>pip install {{variant.pip_url}}</code></pre>

    <p>
    For additional instructions, refer to the
    <a href="{{variant.repo}}#readme" target="_blank">README in the repository</a
    >.
    </p>

    <h2 id="usage-with-meltano">
    Usage with <a href="https://meltano.com" target="_blank">Meltano</a>
    </h2>

    {% if plugin.type == "tap" %} {% assign meltano_plugins =
    site.data.meltano.extractors %} {% assign meltano_type_article = "an" %} {%
    assign meltano_type = "extractor" %} {% assign meltano_add_url =
    "https://docs.meltano.com/getting-started.html#add-an-extractor-to-pull-data-from-a-source"
    %} {% else %} {% assign meltano_plugins = site.data.meltano.loaders %} {% assign
    meltano_type_article = "a" %} {% assign meltano_type = "loader" %} {% assign
    meltano_add_url =
    "https://docs.meltano.com/getting-started.html#add-a-loader-to-send-data-to-a-destination"
    %} {% endif %} {% if meltano_plugins[plugin.name] %} {% assign
    meltano_variant_names = meltano_plugins[plugin.name].variants | map: "name" %}
    {% else %} {% assign meltano_variant_names = [] %} {% endif %} {% if
    meltano_variant_names contains variant.name or
    meltano_plugins[plugin.name].variant == variant.name %}
    <p>
    <a
        href="https://docs.meltano.com/getting-started.html#install-meltano"
        target="_blank"
        >Install Meltano</a
    >,
    <a
        href="https://docs.meltano.com/getting-started.html#create-your-meltano-project"
        target="_blank"
        >create your Meltano project</a
    >, and
    <a href="{{meltano_add_url}}" target="_blank"
        >add the {{plugin.type}} to your project</a
    >
    as {{meltano_type_article}} {{meltano_type}}:
    </p>

    <pre><code>meltano add {{meltano_type}} {{plugin.singer_name}}{% if page.variant_specific %} --variant {{variant.name}}{% endif %}</code></pre>

    <p>
    For additional instructions, refer to the
    <a href="/{{meltano_type}}s/{{plugin.name}}#getting-started"
        >Meltano-specific documentation for <code>{{plugin.singer_name}}</code></a
    >.
    </p>
    {% else %}
    <p>
    <a
        href="https://docs.meltano.com/getting-started.html#install-meltano"
        target="_blank"
        >Install Meltano</a
    >,
    <a
        href="https://docs.meltano.com/getting-started.html#create-your-meltano-project"
        target="_blank"
        >create your Meltano project</a
    >, and
    <a href="{{meltano_add_url}}" target="_blank"
        >add the {{plugin.type}} to your project</a
    >
    as a
    <a
        href="https://docs.meltano.com/plugin-management.html#custom-plugins"
        target="_blank"
        >custom {{meltano_type}}</a
    >:
    </p>

    <pre><code>meltano add --custom {{meltano_type}} {{plugin.singer_name}}{% if page.variant_specific %} --variant {{variant.name}}{% endif %}</code></pre>

    <p>
    Then,
    <a
        href="https://docs.meltano.com/getting-started.html#configure-the-{{meltano_type}}"
        target="_blank"
        >configure the {{meltano_type}}</a
    >, {% if meltano_type == "loader" %} add
    <a href="/singer/taps">any Singer tap</a> as
    <a
        href="https://docs.meltano.com/getting-started.html#add-an-extractor-to-pull-data-from-a-source"
        target="_blank"
        >an extractor to pull data from a source</a
    >
    and
    <a
        href="https://docs.meltano.com/getting-started.html#run-a-data-integration-el-pipeline"
        target="_blank"
        >run a data integration (EL) pipeline</a
    >. {% else %} add <a href="/singer/targets">any Singer target</a> as
    <a
        href="https://docs.meltano.com/getting-started.html#add-a-loader-to-send-data-to-a-destination"
        target="_blank"
        >a loader to send data to a destination</a
    >
    and
    <a
        href="https://docs.meltano.com/getting-started.html#run-a-data-integration-el-pipeline"
        target="_blank"
        >run a data integration (EL) pipeline</a
    >. {% endif %}
    </p>
    {% endif %}

    <h2 id="capabilities">Capabilities</h2>
    
    {% if variant.capabilities.size == 0 %}
    <p>
      Check the
      <a href="{{variant.repo}}#readme" target="_blank">README and code in the repository</a>
      for more information on capabilities for this {{plugin.type}}.
    </p>
    {% else %} <ul> {% for capability in variant.capabilities %} 
      <li>
        <a href="/singer/docs#{{capability}}">
          <code>{{capability}}</code>
        </a>
        {% if alt_variant.default %}(default){%endif%}
      </li> {% endfor %} </ul> {% endif %}
    

    <h2 id="settings">Settings</h2>

    {% if variant.settings.size == 0 %}
    <p>
    Check the
    <a href="{{variant.repo}}#readme" target="_blank">README in the repository</a>
    for more information on settings for this {{plugin.type}}.
    </p>
    {% else %} {% for setting in variant.settings %} {% include setting.html
    setting=setting %} {% endfor %} {% endif %}

{% endif %}

<h2 id="looking-for-help">Looking for help?</h2>

<p>
  If you're having trouble getting
  <code>{{plugin.singer_name}}</code> to work by itself or with
  <a href="https://meltano.com" target="_blank">Meltano</a>, look for an
  <a href="{{variant.repo}}/issues" target="_blank"
    >existing issue in its repository</a
  >, file a <a href="{{variant.repo}}/issues/new" target="_blank">new issue</a>,
  or
  <a
    href="https://join.slack.com/t/meltano/shared_invite/zt-obgpdeba-7yrqKhwyMBfdHDXsZY8G7Q"
    target="_blank"
    >join the Meltano Slack community</a
  >
  and ask for help in the <code>#plugins-general</code> channel.
</p>

<h3>Found an issue on this page?</h3>

<p>
  This page is generated from a
  <a
    href="https://gitlab.com/meltano/hub/-/tree/main/_data/{{plugin.type}}s/{{ plugin.name }}.yml"
    >YAML file</a
  >
  that you can contribute changes to! It is also validated against a
  <a href="/singer/api/v1/schema.json">JSON Schema</a> used for taps and
  targets.
</p>
<br>
<p><span class="icon icon--gitlab">{% include icon-gitlab.svg%}</span>

<a href="https://gitlab.com/meltano/hub/-/tree/main/_data/{{plugin.type}}s/{{ plugin.name }}.yml">Edit this page on GitLab!</a></p>
